ul.affix-fixed[_ngcontent-serverApp-c20] li[_ngcontent-serverApp-c20] a[_ngcontent-serverApp-c20] {
    display: block;
    background: #f7f7f7;
    margin-top: 8px;
    color: #000;
    font-weight: 700;
    height: 60px;
    line-height: 52px
}

.nav-pills[_ngcontent-serverApp-c20] .nav-link[_ngcontent-serverApp-c20] {
    cursor: pointer
}

.nav-link[_ngcontent-serverApp-c20] {
    display: block;
    padding: .5rem 1rem
}

.nav-link[_ngcontent-serverApp-c20]:focus,
.nav-link[_ngcontent-serverApp-c20]:hover {
    text-decoration: none
}

.nav-link.disabled[_ngcontent-serverApp-c20] {
    color: #6c757d;
    pointer-events: none;
    cursor: default
}

.nav-tabs[_ngcontent-serverApp-c20] {
    border-bottom: 1px solid #dee2e6
}

.nav-tabs[_ngcontent-serverApp-c20] .nav-item[_ngcontent-serverApp-c20] {
    margin-bottom: -1px
}

.nav-tabs[_ngcontent-serverApp-c20] .nav-link[_ngcontent-serverApp-c20] {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem
}

.nav-tabs[_ngcontent-serverApp-c20] .nav-link[_ngcontent-serverApp-c20]:focus,
.nav-tabs[_ngcontent-serverApp-c20] .nav-link[_ngcontent-serverApp-c20]:hover {
    border-color: #e9ecef #e9ecef #dee2e6
}

.nav-tabs[_ngcontent-serverApp-c20] .nav-link.disabled[_ngcontent-serverApp-c20] {
    color: #6c757d;
    background-color: initial;
    border-color: transparent
}

.nav-tabs[_ngcontent-serverApp-c20] .nav-item.show[_ngcontent-serverApp-c20] .nav-link[_ngcontent-serverApp-c20],
.nav-tabs[_ngcontent-serverApp-c20] .nav-link.active[_ngcontent-serverApp-c20] {
    color: #495057;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff
}

.nav-tabs[_ngcontent-serverApp-c20] .dropdown-menu[_ngcontent-serverApp-c20] {
    margin-top: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0
}

.nav-pills[_ngcontent-serverApp-c20] .nav-link[_ngcontent-serverApp-c20] {
    border-radius: .25rem
}

.nav-pills[_ngcontent-serverApp-c20] .nav-link.active[_ngcontent-serverApp-c20],
.nav-pills[_ngcontent-serverApp-c20] .show[_ngcontent-serverApp-c20]>.nav-link[_ngcontent-serverApp-c20] {
    color: #000;
    background-color: #fff;
    border-left: 8px solid #06A3DA;
    font-weight: 700;
    box-shadow: -1px 0 10px 0 rgba(0, 0, 0, .22)
}

.nav-fill[_ngcontent-serverApp-c20] .nav-item[_ngcontent-serverApp-c20] {
    flex: 1 1 auto;
    text-align: center
}

.nav-justified[_ngcontent-serverApp-c20] .nav-item[_ngcontent-serverApp-c20] {
    flex-basis: 0;
    flex-grow: 1;
    text-align: center
}

.page-section[_ngcontent-serverApp-c20] {
    color: #000
}

.navigation[_ngcontent-serverApp-c20] {
    color: #fff
}